<!-- div class="center hero-unit" -->
<div class="center hero-unit">
  <h1>Second Brain</h1>

  <h2>
    This is the home page for Second Brain Application.
  </h2>

  <%= link_to "Task", tasks_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
